#principal{
	background-image: url(../img/fondo.jpg);
	background-size: cover;
}

/*estilos barra idioma*/
.idioma{
	color:white;
	background-color: transparent;
	border:none;
	margin-top: 10px;
}

#idioma button{
	margin-left: 10px;
}

.logo{
	margin-top: 40px;
}

img{
	width: 100%;
}