#principal{
	background-image: url(../img/fondo.jpg);
	background-size: cover;
	height: 100vh;
}

/*estilos barra idioma*/
.idioma{
	color:white;
	background-color: transparent;
	border:none;
	margin-top: 10px;
}

#idioma button{
	margin-left: 10px;
}

/*estilos LOGO*/
.logo{
	margin-top: 40px;
}

img{
	width: 100%;
}

/*estilos INPUTS*/
#inputs{
	padding:10px 0;
}

/*transparencia fondo input*/
#inputs input{
	width: 100%;
	height: 45px;
	border:none;
	border-radius:2px;
	padding-left:5px;
	margin: 10px;
	background:rgba(255,255,255,0.2);
}

/*transparencia placeholder texto*/
#inputs input::placeholder{
	color: rgba(255,255,255,0.6);
	padding-left: 10px;
}

/*color borde al escribir en input*/
*:focus { 
	outline: solid thin white; 
} 

#inputs button{
	width: 100%;
	height: 45px;
	color: white;
	font-weight: bold;
	border: solid 2px rgba(255,255,255,0.3);
	border-radius:2px;
	padding-left:5px;
	margin: 10px;
	background: none;
}

/*sobre el boton*/
#inputs button:hover{ 
	background:rgba(255,255,255,0.5)
}

#inputs p{
	color: white;
	padding: 5px 0 5px 3px;
	font-size: 14px;
	margin-left: 4px;
}

/* separador*/
.separador{
	padding-left: 18px;
}

.separador i{
	color: white;
	position:absolute; 
	background:transparent;
	left:215px;
	bottom: 14px;
}

/*face*/
#face{
	color:white;
	font-weight: bolder;
	padding-bottom: 50px;
}

#face p{
	font-size: 14px;
}

a{
	color: white;
	text-decoration: none;
}

a:hover{
	color: silver;
	text-decoration: none;
}

/*estilos SECCION*/
/**/
#principal-seccion{
	background-color: black;
	height: 100vh;
}

.foto-larga{
	height: 340px;
	border:solid 3px white;
}

.foto-chica1{
	height: 170px;
	border:solid 3px white;
}

.foto-chica2{
	height: 170px;
	border:solid 3px white;
}

.nomarg{
	margin: 0;
	padding: 0;
}

#galeria{
	background-color:black;
	padding-bottom: 0;
}

#galeria img{
	margin: 0;
	padding: 0;
}